In [1]:
import numpy as np
import pandas as pd

In [2]:

df = pd.read_csv('credit_card.csv')

In [3]:
column_name = df.columns
print(column_name)

Index(['Client_Num', 'Card_Category', 'Annual_Fees', 'Activation_30_Days',
       'Customer_Acq_Cost', 'Week_Start_Date', 'Week_Num', 'Qtr',
       'current_year', 'Credit_Limit', 'Total_Revolving_Bal',
       'Total_Trans_Amt', 'Total_Trans_Vol', 'Avg_Utilization_Ratio',
       'Use Chip', 'Exp Type', 'Interest_Earned', 'Delinquent_Acc'],
      dtype='object')

In [4]:
# Function to convert date format
def convert_date_format(date_str):
    return pd.to_datetime(date_str, format='%d-%m-%Y').strftime('%d/%m/%Y')

# Apply the function to the date column
df['Week_Start_Date'] = df['Week_Start_Date'].apply(convert_date_format)

# Save the DataFrame back to a CSV file
df.to_csv('credit_card_formatted.csv', index=False)

In [5]:
df['Week_Start_Date'].dtype

dtype('O')

In [6]:
df.dtypes

Client_Num                 int64
Card_Category             object
Annual_Fees                int64
Activation_30_Days         int64
Customer_Acq_Cost          int64
Week_Start_Date           object
Week_Num                  object
Qtr                       object
current_year               int64
Credit_Limit             float64
Total_Revolving_Bal        int64
Total_Trans_Amt            int64
Total_Trans_Vol            int64
Avg_Utilization_Ratio    float64
Use Chip                  object
Exp Type                  object
Interest_Earned          float64
Delinquent_Acc             int64
dtype: object

In [7]:
df['Week_Start_Date'].to_date

AttributeError: 'Series' object has no attribute 'to_date'

In [8]:
df['Week_Start_Date'] = pd.to_datetime(df['Week_Start_Date'], format='%d/%m/%Y')

In [9]:
df.dtypes

Client_Num                        int64
Card_Category                    object
Annual_Fees                       int64
Activation_30_Days                int64
Customer_Acq_Cost                 int64
Week_Start_Date          datetime64[ns]
Week_Num                         object
Qtr                              object
current_year                      int64
Credit_Limit                    float64
Total_Revolving_Bal               int64
Total_Trans_Amt                   int64
Total_Trans_Vol                   int64
Avg_Utilization_Ratio           float64
Use Chip                         object
Exp Type                         object
Interest_Earned                 float64
Delinquent_Acc                    int64
dtype: object

In [10]:
df.to_csv('credit_card_formatted.csv', index=False)

In [2]:

df1 = pd.read_csv("D:\cc_add.csv")

In [3]:
df1

,Client_Num,Card_Category,Annual_Fees,Activation_30_Days,Customer_Acq_Cost,Week_Start_Date,Week_Num,Qtr,current_year,Credit_Limit,Total_Revolving_Bal,Total_Trans_Amt,Total_Trans_Ct,Avg_Utilization_Ratio,Use Chip,Exp Type,Interest_Earned,Delinquent_Acc
0,963607849,Blue,300,1,108,31-12-2023,Week-53,Q4,2023,14315.0,690,9603,56,0.048,Swipe,Entertainment,598.69,0
1,932954954,Blue,175,1,96,31-12-2023,Week-53,Q4,2023,5711.0,0,4325,72,0.000,Swipe,Fuel,691.20,0
2,961650885,Blue,195,0,76,31-12-2023,Week-53,Q4,2023,3104.0,1766,9353,24,0.569,Swipe,Travel,216.48,0
3,917695309,Blue,495,1,72,31-12-2023,Week-53,Q4,2023,2553.0,1823,3853,69,0.714,Chip,Grocery,1001.78,0
4,957309271,Blue,100,0,172,31-12-2023,Week-53,Q4,2023,2476.0,1944,4025,65,0.785,Chip,Fuel,845.25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,964474458,Blue,100,0,72,31-12-2023,Week-53,Q4,2023,1438.3,0,4928,84,0.000,Online,Grocery,788.48,0
181,962482385,Silver,100,1,150,31-12-2023,Week-53,Q4,2023,34516.0,2052,3510,62,0.059,Swipe,Grocery,772.20,0
182,919695363,Blue,475,1,99,31-12-2023,Week-53,Q4,2023,3807.0,2517,19739,36,0.661,Swipe,Entertainment,504.31,0
183,931822111,Blue,275,0,99,31-12-2023,Week-53,Q4,2023,11548.0,0,7781,72,0.000,Swipe,Food,1167.15,0
184,925168075,Blue,245,1,74,31-12-2023,Week-53,Q4,2023,20769.0,901,1835,43,0.043,Chip,Fuel,201.85,0

In [5]:
df1.dtypes

Client_Num                 int64
Card_Category             object
Annual_Fees                int64
Activation_30_Days         int64
Customer_Acq_Cost          int64
Week_Start_Date           object
Week_Num                  object
Qtr                       object
current_year               int64
Credit_Limit             float64
Total_Revolving_Bal        int64
Total_Trans_Amt            int64
Total_Trans_Ct             int64
Avg_Utilization_Ratio    float64
Use Chip                  object
Exp Type                  object
Interest_Earned          float64
Delinquent_Acc             int64
dtype: object

In [7]:
df1['Week_Start_Date'] = pd.to_datetime(df1['Week_Start_Date'], format='%d-%m-%Y')

In [10]:
df1.dtypes

Client_Num                        int64
Card_Category                    object
Annual_Fees                       int64
Activation_30_Days                int64
Customer_Acq_Cost                 int64
Week_Start_Date          datetime64[ns]
Week_Num                         object
Qtr                              object
current_year                      int64
Credit_Limit                    float64
Total_Revolving_Bal               int64
Total_Trans_Amt                   int64
Total_Trans_Ct                    int64
Avg_Utilization_Ratio           float64
Use Chip                         object
Exp Type                         object
Interest_Earned                 float64
Delinquent_Acc                    int64
dtype: object

In [12]:
df1.to_csv('D:\cc_add_formatted.csv', index=False)